<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>Electron SVG Editor</title>
  </head>
  <body>
    <div id="app">
      <div class="window-bar">
        <div class="bar-button action-button" v-on:click="showCreateDocument">
          <div class="mt-i">note_add</div>
        </div>
        <div class="bar-button action-button" v-on:click="saveSVG">
          <div class="mt-i">save</div>
        </div>
        <div class="divider"></div>
        <div class="bar-button coords">{{this.lastSvgMouse.x +","+this.lastSvgMouse.y}}</div>
        <div class="bar-button" v-on:click="resetZoom">
          {{Math.round(view.scale * 100) + '%'}}
        </div>
        <div class="bar-button" v-on:click="minimize">
          <div class="mt-i">minimize</div>
        </div>
        <div class="bar-button" v-on:click="maximize">
          <div class="mt-i">maximize</div>
        </div>
        <div class="bar-button" v-on:click="closeApp">
          <div class="mt-i">close</div>
        </div>
      </div>
      <div
        id="svgContainer"
        v-on:wheel="editorMouseWheel"
        v-on:mousemove="editorMouseMove"
        v-on:mousedown="editorMouseDown"
        v-on:mouseup="editorMouseUp"
      >
        <svg
          id="svgCanvas"
          xmlns="http://www.w3.org/2000/svg"
          v-on:mousedown="svgMouseDown"
          v-on:mousemove="svgMouseMove"
          v-on:mouseup="svgMouseUp"
          v-on:mouseleave="svgMouseUp"
          v-if="drawing"
          v-bind:width="drawing.width"
          v-bind:height="drawing.height"
          v-bind:viewBox="'0 0 '+drawing.width+' '+drawing.height"
          v-bind:style="{transform: 'translate('+view.x+'px,'+view.y+'px) scale('+view.scale+')'}"
        >
          <path
            v-for="(path, index) in drawing.nodes.filter(p => p.type=='path' && p.points.length > 1)"
            :key="index"
            v-bind:d="path.points.map((p,i) => {
              return (i==0 ? 'M'+p.x+' '+p.y : 'L'+p.x+' '+p.y)
            }).join('')"
            stroke="black"
            fill="none"
          ></path>
          <line
            v-for="(line, index) in drawing.nodes.filter(l => l.type=='line' && l.a && l.b)"
            :key="index"
            stroke="black"
            v-bind:x1="line.a.x"
            v-bind:y1="line.a.y"
            v-bind:x2="line.b.x"
            v-bind:y2="line.b.y"
          ></line>
        </svg>
      </div>
      <div id="modalsContainer" v-bind:class="{open: modals.isOpen}">
        <div
          class="modal card"
          id="createDocument"
          v-bind:class="{open: modals.createDocument.isOpen}"
        >
          <header>
            <div class="title">Nuovo Documento</div>
            <div class="close-button" v-on:click="hideCreateDocument">
              <div class="mt-i">close</div>
            </div>
          </header>
          <div class="content">
            <div class="sub-title">Dimensioni</div>
            <div class="input-group">
              <input
                type="number"
                min="10"
                max="5000"
                v-model="modals.createDocument.data.width"
              />
              <div class="label">px Larghezza</div>
            </div>
            <div class="input-group">
              <input
                type="number"
                min="10"
                max="5000"
                v-model="modals.createDocument.data.height"
              />
              <div class="label">px Altezza</div>
            </div>
            <div class="full-button" v-on:click="createDocument">CREA</div>
          </div>
        </div>
      </div>
      <div id="toolsContainer" class="card">
        <div class="content">
          <div
            class="tool"
            v-bind:class="{selected: index == currentToolIndex}"
            v-for="(tool, index) in tools"
            v-on:click="currentToolIndex = index"
          >
            <div class="mt-i">{{tool.icon}}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./js/classes.js"></script>
  <script src="./js/app.js"></script>
</html>
